.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-left: 50px;
    margin-top: 20px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin-right: 10px;
}
.cart-container{
    margin-left: 5px;
}